[package]
name = "cgb-grabber"
version = "0.1.0"
authors = ["whitequark <whitequark@whitequark.org>"]

[dependencies]
serde = "1.0"
serde_derive = "1.0"
toml = "0.4"
libusb = "0.3"
sdl2 = "0.31"
gif = "0.10"

[profile.release]
panic = "abort"

[profile.dev]
panic = "abort"
