device-type = "cgb"

[device.cgb]
bitstream = "bitstream/cgb.bin"
width = 160
height = 144

[device.gba]
bitstream = "bitstream/gba.bin"
width = 240
height = 160

# Record or replay raw data received from device.
# [stream]
# record = "stream.bin"
# replay = "stream.bin"

# Display frames on screen.
# [video.sdl]
# Expand every captured pixel into an NxN pixel rectangle before display.
# scale = 1

# Play audio via speakers.
# [audio.sdl]

# Record frames to an animated gif file.
# [video.gif]
# filename = "capture.gif"
# Drop every N-th frame (N < 32).
# framedrop = 0

# Record frames to an H.264 stream.
# This stream has an RGB colorspace and is not in a container; it needs to be
# post-processed with e.g. ffmpeg to convert colorspace to YUV and put it
# into a container.
# [video.h264]
# filename = "capture.h264"

# Record audio to a WAV file.
# [audio.wav]
# filename = "capture.wav"
